@use "../helpers";

#global-promotion {
  padding: 64px 24px;
  text-align: center;
  background-color: var(--white);

  h1 {
    color: var(--nightblue);
    margin: 24px 0;
  }

  p {
    color: var(--Grey);
    font-weight: 600;
    line-height: helpers.rem-calc(28);
    margin-bottom: 40px;
  }

  img:last-of-type {
    width: 100%;
    max-width: 400px;
  }
}
