@use "../helpers";

#global-promotion {
  padding: 64px 24px;
  text-align: center;
  background-color: var(--white);

  h1 {
    color: var(--nightblue);
    margin: 24px 0;
  }

  p {
    color: var(--Grey);
    font-weight: 600;
    line-height: helpers.rem-calc(28);
    margin-bottom: 40px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  img {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: block;
  }

  @include helpers.lg {
    padding: 96px 24px;

    p {
      max-width: 700px;
      font-size: helpers.rem-calc(18);
    }

    img {
      max-width: 900px;
    }
  }
}
