/* =============
   packages
============= */
@use "../helpers";
#packages{
    background-color: var(--Lily);
    padding: 100px 24px;

    #top-content{
      text-align: center;
      h1{
        color:var(--nightblue);
    }
    #package-button-container{
        background-color: var(--white);
        //week4
        display: inline-block;

        button{
            border: none;
        }
        #left-arrow{
        color:var(--Grey);
        }
        #right-arrow{
            background-color: var(--Aqua);
            color: var(--white);

        }
    }
 
    }
    #package-card-container{

      @include helpers.md{
        display: grid;
        grid-template-columns:repeat(4, 1fr) ;
        grid-template-areas:    "card-1 card-1 card-2 card-2"
                                "...    card-3 card-3 ... ";
      }
      @include helpers.xl{
          max-width: 1200px;
          margin: 0 auto;
          display: grid;
          grid-template-columns:repeat(3, 1fr) ;
          grid-template-areas: "card-1 card-2 card-3";
          gap: 45px;
      }

      margin: 24px 0px; ;
        .package-card{
          background-color: var(--Ghost) ;  
          border: 1px solid var(--white);
          margin-bottom: 48px;
          padding: 16px;
          border-radius: 14px;

          .package-card-img{
            // border: 1px solid red;
            width: 100%;
            height: 273px;
          }

          p{
            color: var(--nightblue) ;
            font-weight: 600; 
            font-size:helpers.rem-calc(20);
            line-height:helpers.rem-calc(28);
            margin: 20px 0 16px;
          }
          .user-icons{
            li{
              height: 36px;
              width: 36px;
              border: 1px solid var(--white);
              border-radius: 100%;
            }
          }

          h4{
            color: var(--Grey);
            font-size:helpers.rem-calc(14);
            line-height:helpers.rem-calc(28);
          }

          h3{
            color: var(--Aqua);
            font-size:helpers.rem-calc(14);
            line-height:helpers.rem-calc(28);
          }

        }

        .selected{
            background-color: var(--white);
        }
        #card-1 img.img-scaler {
          border-radius: 14px;
          width: 100%;
        }
        .icon-1{
          background-image: url("../img/packages/user1.jpg");
        }
        .icon-2{
          background-image: url("../img/packages/user3.jpg");
          background-position: 80% 80%;
        }
        .icon-3{
          background-image: url("../img/packages/user2.jpg");
        }
        
        

        #card-2{
          @include helpers.md{
            grid-area: card-2;
          }
          .icon-1{
            background-image: url("../img/packages/user5.jpg");
            background-position: center 30%;
          }
          .icon-2{
            background-image: url("../img/packages/user3.jpg");
            background-position: 80% 80%;
          }
          .icon-3{
            background-image: url("../img/packages/user4.jpg");
          }
        }

        #card-3{
          @include helpers.md{
            grid-area: card-3;
          }
          .icon-1{
            background-image: url("../img/packages/user5.jpg");
            background-position: center 30%;
          }
          .icon-2{
            background-image: url("../img/packages/user3.jpg");
            background-position: 80% 80%;
          }
          .icon-3{
            background-image: url("../img/packages/user4.jpg");
          }
        }
    }
}